doctype html
html(lang='en',ng-app='Genesis')
  head
    meta(http-equiv="Content-type" content="text/html" ,charset="UTF-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet',type='text/css', href='css/reset.css')
    link(rel='stylesheet', type='text/css',href='css/animate.css')
    // CSS reset
    link(rel='stylesheet', type='text/css',href='css/style2.css')
    link(rel='stylesheet', type='text/css',href='css/styles.css') 
    

    script(type='text/javascript', src = 'js/jquery-2.1.1.js')
    script(type='text/javascript', src = 'js/angular.min.js')
    script(type='text/javascript' , src = 'js/bootstrap.min.js')
    script(type='text/javascript', src = 'js/angularModule.js')
    script(type='text/javascript', src = 'js/socketModule.js')
    script(type='text/javascript', src = 'js/main.js')
    script(type='text/javascript' , src = 'js/angular-uuid.js')
    script(type='text/javascript' , src = 'js/angular-local-storage.min.js')
    script(src='//momentjs.com/downloads/moment-with-locales.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.js')
      
    // Resource style
    script(src='js/modernizr.js')
    // Modernizr

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js')

    title Genesis Mesoamerica
  body.animated.fadeIn(ng-controller='indexController')

    header
      #cssmenu
        ul
          li
            a(href='/')
              span Inicio
          li.active
            a(href='/showDevotionals', ng-show = 'session()')
              span Devocionales
          li
            a(href='/showUsers')
              span Misioneros
          li.last
            a.cd-btn(href='#' ,ng-show = 'session()')
              span Perfil
          ul.navbar-right
            li
          
              a(href='/login',ng-hide = 'session()')
                span Iniciar Sesión
         
              a(href='/logout',ng-show = 'session()',ng-click='clearStorage()')
                span Cerrar Sesión

    .container-fluid
      
      main.cd-main-content
        .jumbotron(style = 'margin-top : 1%')
          .row(style='margin-top:1%')
            .col-md-offset-2.col-md-8
              h2(style='font-size:180%') ¡Vamos a Crear un Nuevo Devocional!
          .row(style='margin-top:5%')
            .col-md-offset-2.col-md-8
              form(action='/devotional',method='post',enctype="multipart/form-data").form-horizontal
                .form-group
                  label.pull-left.control-label.col-md-3.col-md-offset-1 ¡Ponle un Título!
                  .col-md-5
                    input(type='text',name='title',placeholder='¿Cuál será el Título para este Devocional?',required).form-control
                .form-group
                  textarea(name='body',placeholder='Es hora de escribir el Devocional, recuerda que esto será de gran ayuda para nuestros misioneros',rows='8',style='margin-top:2%',required).form-control
                .form-group(style='margin-top:3%')
                  label().control-label.col-md-6.col-md-offset-1 Y, ¿Cuándo quieres que se muestre este devocional?
                  .col-md-3
                    input(type='date',name='showDate',required).form-control
                .form-group(style='margin-top:4%')
                  label.control-label.col-md-3.col-md-offset-2 ¿Llevará algo más?
                  .col-md-4
                    .fileUpload.btn.btn-primary(style='margin-top:0%')
                      span.glyphicon.glyphicon-picture
                      input.upload.form-control#file1(type='file',name='img',accept="image/jpeg")
                    .fileUpload.btn.btn-primary(style='margin-top:0%')
                      span.glyphicon.glyphicon-film
                      input.upload.form-control#file2(type='file',name='video',accept="video/mp4")
                    .fileUpload.btn.btn-primary(style='margin-top:0%')
                      span.glyphicon.glyphicon-volume-up
                      input.upload.form-control#file3(type='file',name='audio',accept="audio/mp3")
                .form-group(style='margin-top:4%')
                  button.btn.btn-primary.btn-lg.btn-block(type='submit') ¿Listo para Publicarlo?     
                    span.glyphicon.glyphicon-send










          //panel for real time chat
      .cd-panel.from-right
        header.cd-panel-header
          h1(align='center') Perfil del Misionero
          a.cd-panel-close(href='#0') Close
        .cd-panel-container
          .cd-panel-content

            .row
              .col-md-4.col-md-offset-1
                a.thumbnail(href='#')
                  img.img-responsive.img-rounded(src='/img/userPhotos/{{id}}.jpg', alt='img-responsive')

              .col-md-7
                .well.well-lg
                  h3
                    .row
                      .col-md-3
                        span.glyphicon.glyphicon-user(aria-hidden="true")
                      .col-md-offset-1
                        | {{name}}

                    .row.margin-top
                      .col-md-3
                         span.glyphicon.glyphicon-gift(aria-hidden="true")
                      .col-md-offset-1
                        | Cumpleaños: {{day}}/{{month}}

                     .row.margin-top
                      .col-md-3
                        span.glyphicon.glyphicon-pushpin(aria-hidden="true")
                      .col-md-offset-1
                        | Lugar de Servicio: 
                      .row.margin-top
                        .col-md-offset-3
                          {{servicePlace}}
                        
                     .row.margin-top
                        .col-md-10.col-md-offset-1
                          a(href='#')
                            | Editar Información

            .row
                              .col-md-11.col-md-offset-1
                                .well.well-lg
                                  .row
                                      .col-md-3
                                        span.glyphicon.glyphicon-tag(aria-hidden="true")
                                      .col-md-offset-1
                                        | Biografía:

                                     .row.margin-top
                                      .col-md-10.col-md-offset-1(style="white-space: pre-line;")
                                        {{biography}}


            .row
              .col-md-offset-1.col-md-11
                   .list-group
                      a.list-group-item.active(href='#',align='center')
                        | Publicaciones Recientes 
                      a.list-group-item(href='#') Dapibus ac facilisis in
                      a.list-group-item(href='#') Morbi leo risus
                      a.list-group-item(href='#') Porta ac consectetur ac
                      a.list-group-item(href='#') Vestibulum at eros
                              
                  

              
            
            .footer.col-md-10.col-md-offset-1
              
                
            
          // cd-panel-content
        // cd-panel-container
      // cd-panel



  script(src='/socket.io/socket.io.js')