doctype html
html(lang='en',ng-app='Genesis')
  head
    meta(http-equiv="Content-type" content="text/html" ,charset="UTF-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet',type='text/css', href='css/reset.css')
    link(rel='stylesheet', type='text/css',href='css/animate.css')
    // CSS reset
    link(rel='stylesheet', type='text/css',href='css/style2.css')
    link(rel='stylesheet', type='text/css',href='css/styles.css') 

    script(type='text/javascript', src = 'js/jquery-2.1.1.js')
    script(type='text/javascript', src = 'js/angular.min.js')
    script(type='text/javascript', src = 'js/angularModule.js')
    script(type='text/javascript', src = 'js/socketModule.js')
    script(type='text/javascript', src = 'js/main.js')
    script(type='text/javascript' , src = 'js/bootstrap.min.js')
      
    // Resource style
    script(src='js/modernizr.js')
    // Modernizr

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js')

    title Genesis Mesoamerica
  body.animated.fadeIn(ng-controller='indexController')

    header
      #cssmenu
        ul
          li.active
            a(href='/')
              span Inicio
          li
            a(href='#', ng-show = 'session()')
              span Devocionales
          li
            a(href='/showUsers')
              span Misioneros
          li.last
            a.cd-btn(href='#' ,ng-show = 'session()')
              span Perfil
          ul.navbar-right
            li
          
              a(href='/login',ng-hide = 'session()')
                span Iniciar Sesión
         
              a(href='/logout',ng-show = 'session()')
                span Cerrar Sesión

    .container-fluid
      
      main.cd-main-content
        .jumbotron(style = 'margin-top : 1%')
          .row
            .col-md-4.col-md-offset-2
              a(href='#myModal', data-toggle="modal")
                .well(ng-show='session()')
                  .row
                    .col-md-2
                      img(src='img/userPhotos/{{id}}.jpg',height='35',width='35').img-circle
                    .col-md-8(style='margin-top:1%').text-muted
                      | ¿Tienes una nueva noticia que contar?
                    .col-md-2
                      img(src='img/instagram19.png',height='35',width='35')

                
                

            .col-md-4
              .well
                | I'm a well

          .row
            .col-md-4.col-md-offset-2
              .well
                | I'm a well
            .col-md-4
              .well
                | I'm a well


                

        //panel for real time chat
      .cd-panel.from-right
        header.cd-panel-header
          h1(align='center') Perfil del Misionero
          a.cd-panel-close(href='#0') Close
        .cd-panel-container
          .cd-panel-content

            .row
              .col-md-4.col-md-offset-1
                a.thumbnail(href='#')
                  img.img-responsive.img-rounded(src='img/userPhotos/{{id}}.jpg', alt='img-responsive')

              .col-md-7
                .well.well-lg
                  h3
                    .row
                      .col-md-3
                        span.glyphicon.glyphicon-user(aria-hidden="true")
                      .col-md-offset-1
                        | {{name}}

                    .row.margin-top
                      .col-md-3
                         span.glyphicon.glyphicon-gift(aria-hidden="true")
                      .col-md-offset-1
                        | Cumpleaños: {{day}}/{{month}}

                     .row.margin-top
                      .col-md-3
                        span.glyphicon.glyphicon-pushpin(aria-hidden="true")
                      .col-md-offset-1
                        | Lugar de Servicio: {{servicePlace}}


                     .row.margin-top
                      .col-md-3
                        span.glyphicon.glyphicon-tag(aria-hidden="true")
                      .col-md-offset-1
                        | Biografía:

                     .row.margin-top
                      .col-md-10.col-md-offset-1(align='justify')
                        {{biography}}
                        
                     .row.margin-top
                        .col-md-10.col-md-offset-1
                          a(href='#')
                            | Editar Información


            .row
              .col-md-offset-1.col-md-11
                   .list-group
                      a.list-group-item.active(href='#',align='center')
                        | Publicaciones Recientes 
                      a.list-group-item(href='#') Dapibus ac facilisis in
                      a.list-group-item(href='#') Morbi leo risus
                      a.list-group-item(href='#') Porta ac consectetur ac
                      a.list-group-item(href='#') Vestibulum at eros
                              
                  

              
            
            .footer.col-md-10.col-md-offset-1
              
                
            
          // cd-panel-content
        // cd-panel-container
      // cd-panel


      //Modal

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              .row
                .col-md-2
                  img.img-rounded(src='img/userPhotos/{{id}}.jpg', alt='img-responsive',height='35',width='35',style='margin-left:20%')
                .col.md-8(style='margin-top:2%; margin-left:18%')
                  h4#myModalLabel.modal-title {{name}}              
            .modal-body
              textarea.form-control(rows='6', placeholder='¿Tienes una nueva noticia que contar?')

            .modal-footer
              .fileUpload.btn.btn-primary.pull-left(style='margin-top:0%')
                span.glyphicon.glyphicon-picture
                input.upload(type='file')
                
              button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-primary(type='button') Publicar
      //


  script(src='/socket.io/socket.io.js')
  