doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel='stylesheet',type='text/css', href='css/reset.css')
    // CSS reset
    link(rel='stylesheet', type='text/css',href='css/style2.css')
    link(rel='stylesheet', type='text/css',href='css/styles.css') 

    script(type='text/javascript', src = 'js/jquery-1.11.1.min.js')
    script(type='text/javascript', src = 'js/socketModule.js')
      
    // Resource style
    script(src='js/modernizr.js')
    // Modernizr
    title Genesis Mesoamerica
  body

    header
      #cssmenu
        ul
          li.active
            a(href='#')
              span Inicio
          li
            a(href='#')
              span Publicar Devocionales
          li
            a(href='#')
              span Historial
          li.last
            a.cd-btn(href='#')
              span Inbox Génesis

    .container
      
      main.cd-main-content
        h1 Slide In Panel
       
        // your content here



        //panel for real time chat
      .cd-panel.from-right
        header.cd-panel-header
          h1 Inbox Génesis
          a.cd-panel-close(href='#0') Close
        .cd-panel-container
          .cd-panel-content

            ul.list-group#messages
              li.list-group-item AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
              li.list-group-item AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
              li.list-group-item AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
              
            
            .footer.col-md-10.col-md-offset-1
              
                .form-group
                  textarea.form-control#chatText(type = 'text' , placeholder = '¡Mensajea con los demás Misioneros!')
                  button#inboxForm.btn.btn-info.btn-lg.btn-block   Enviar
            
          // cd-panel-content
        // cd-panel-container
      // cd-panel
  script(src='js/jquery-2.1.1.js')
  script(src='js/main.js')

  script(src='/socket.io/socket.io.js')
  