extends layout

block content
  body.animated.fadeIn(ng-controller='showUserController')

    header
      #cssmenu
        ul
          li
            a(href='/')
              span Inicio
          li
            a(href='/showDevotionals', ng-show = 'session()')
              span Devocionales
          li.active
            a(href='/showUsers')
              span Misioneros
          li.last
            a.cd-btn(href='#' ,ng-show = 'session()')
              span Perfil
          ul.navbar-right
            li
          
              a(href='/login',ng-hide = 'session()')
                span Iniciar Sesión
         
              a(href='/logout',ng-show = 'session()')
                span Cerrar Sesión

    .container-fluid
      
      main.cd-main-content
        .jumbotron(style = 'margin-top : 1%')
          h2(style='font-size: 150%') Equipos de Trabajo
          p
            //.row(style='margin-top: 3%')
              .col-md-8.col-md-offset-2
                .table-responsive
                  table.table.table-hover
                    tr.info
                      td Perfil
                      td Misionero
                      td Lugar de Servicio
                      //td Publicaciones
                      
                   
                    tr(ng-repeat='missionary in missionaries')
                        td 
                          a(href='#')
                            img(src='img/userPhotos/{{missionary._id}}.jpg',height='30',width='30').img-circle
                        td {{missionary.name}}
                        td {{missionary.servicePlace}}
                        //td {{missionary.post.length}}
            
                    

            .row(style='margin-top: 3%')
              .col-md-4(ng-repeat='place in places')
                .panel.panel-default
                  .panel-body
                    .col-md-12.span12(id='map{{place._id}}',style=' display:block;height: 400px;')
                  .panel-footer
                    .row
                      .col-md-offset-10.col-md-2.dropdown
                        button.close.dropdown-toggle(type='button',id="dLabel",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", ng-if='sessionType()')
                          span(aria-hidden='true') &times;

                        ul.dropdown-menu(aria-labelledby='dLabel')
                          li
                            a(href='#deleteModal', data-toggle="modal", ng-click='place_choosen(place._id)')
                              |Eliminar

                    div(style='margin-top: 3%',id='panelMap{{place._id}}') {{place.formatted_address}}
                    .row(style='margin-top: 4%')
                      .col-md-12
                        a(href='/user/place/{{place._id}}')
                          button.btn.btn-primary.btn-lg.btn-block Ver Equipo
              

             

            .row(style='margin-top:4%',ng-if='sessionType()')
              .col-md-3.col-md-offset-5
                a(href='/addUser')
                  button.btn.btn-primary.btn-lg() Registrar Misionero
              .col-md-3
                a(href='/addPlace')
                  button.btn.btn-primary.btn-lg() Registrar Ciudad de Trabajo


        //panel for real time chat
      .cd-panel.from-right
        header.cd-panel-header
          h1(align='center') Perfil del Misionero
          a.cd-panel-close(href='#0') Close
        .cd-panel-container
          .cd-panel-content

            .row
              .col-md-4.col-md-offset-1
                a.thumbnail(href='#')
                  img.img-responsive.img-rounded(src='/img/userPhotos/{{id}}.jpg', alt='img-responsive')

              .col-md-7
                .well.well-lg
                  h3
                    .row
                      .col-md-3
                        span.glyphicon.glyphicon-user(aria-hidden="true")
                      .col-md-offset-1
                        | {{name}}

                    .row.margin-top
                      .col-md-3
                         span.glyphicon.glyphicon-gift(aria-hidden="true")
                      .col-md-offset-1
                        | Cumpleaños: {{day}}/{{month}}

                     .row.margin-top
                      .col-md-3
                        span.glyphicon.glyphicon-pushpin(aria-hidden="true")
                      .col-md-offset-1
                        | Lugar de Servicio: 
                      .row.margin-top
                        .col-md-offset-3
                          {{servicePlace}}
                        
                     .row.margin-top
                        .col-md-10.col-md-offset-1
                          a(href='#')
                            | Editar Información

            .row
                              .col-md-11.col-md-offset-1
                                .well.well-lg
                                  .row
                                      .col-md-3
                                        span.glyphicon.glyphicon-tag(aria-hidden="true")
                                      .col-md-offset-1
                                        | Biografía:

                                     .row.margin-top
                                      .col-md-10.col-md-offset-1(style="white-space: pre-line;")
                                        {{biography}}

            .row
              .col-md-offset-1.col-md-11
                   .list-group
                      a.list-group-item.active(href='#',align='center')
                        | Publicaciones Recientes 
                      a.list-group-item(href='#') Dapibus ac facilisis in
                      a.list-group-item(href='#') Morbi leo risus
                      a.list-group-item(href='#') Porta ac consectetur ac
                      a.list-group-item(href='#') Vestibulum at eros
                              
                  

              
            
            .footer.col-md-10.col-md-offset-1
              
                
            
          // cd-panel-content
        // cd-panel-container
      // cd-panel

      //Delete Modal
      #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header(id="gridSystemModalLabel")
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
                .row
                  .col-md-6.col-md-offset-4.text-warning
                    h1(style='font-size:150%') ¿Eliminar?
            .modal-body(id="gridSystemModalLabel")
              
              .row
                .col-md-10.col-md-offset-1
                  h2(style='font-size:110%;margin-top:2%;',align='center') ¿Esta Seguro que deseas eliminar este Equipo de Trabajo? (Incluidos todos los Misioneros Relacionados)
          
            .modal-footer

                button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
                button.btn.btn-danger(type='button',ng-click='delete_place()') Aceptar

            //




      script.
                  function initMap(){

                  $.ajax({
                    method: "GET",
                    url: "/place",
                  })
                  .done(function( data ) {
                 

                   for(var i = 0;i<data.length;i++){

                      var map = new google.maps.Map(document.getElementById('map'+data[i]._id), {
                        center: {lat: data[i].location[0], lng:data[i].location[1]},
                        zoom: 12
                      });
                      
                      var infowindow = new google.maps.InfoWindow();
                      var service = new google.maps.places.PlacesService(map);

                      service.getDetails({
                        placeId: data[i]._id
                      }, function(place, status) {
                        if (status === google.maps.places.PlacesServiceStatus.OK) {
                          var marker = new google.maps.Marker({
                            map: map,
                            position: place.geometry.location
                          });
                          google.maps.event.addListener(marker, 'mouseover', function() {
                            infowindow.setContent('<div><strong>'+
                              place.formatted_address + '<br> Área de Trabajo en Proyecto Génesis</div>');
                            infowindow.open(map, this);
                          });
                        }
                        });
                    }
                    });
                  }

      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyApGDtXEF9UYqdCmutZaV7tS2vW6x1LgOQ&signed_in=true&libraries=places&callback=initMap', async='', defer='')
  script(src='/socket.io/socket.io.js')
  