doctype html
html(lang='en',ng-app='Genesis')
  head
    meta(http-equiv="Content-type" content="text/html" ,charset="UTF-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet',type='text/css', href='css/reset.css')
    link(rel='stylesheet', type='text/css',href='css/animate.css')
    // CSS reset
    link(rel='stylesheet', type='text/css',href='css/style2.css')
    link(rel='stylesheet', type='text/css',href='css/styles.css') 
    //link(rel='stylesheet', type='text/css',href='css/masonry_style.css') 

    script(type='text/javascript', src = 'js/jquery-2.1.1.js')
    script(type='text/javascript', src = 'js/angular.min.js')
    script(type='text/javascript' , src = 'js/bootstrap.min.js')
    script(type='text/javascript', src = 'js/angularModule.js')
    script(type='text/javascript', src = 'js/socketModule.js')
    script(type='text/javascript', src = 'js/main.js')
    script(type='text/javascript' , src = 'js/angular-uuid.js')
    script(type='text/javascript' , src = 'js/angular-local-storage.min.js')
    script(src='//momentjs.com/downloads/moment-with-locales.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.js')
      
    // Resource style
    script(src='js/modernizr.js')
    // Modernizr

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js')

    title Genesis Mesoamerica
  body.animated.fadeIn(ng-controller='showDevotionalsController')

    header
      #cssmenu
        ul
          li
            a(href='/')
              span Inicio
          li.active
            a(href='/showDevotionals', ng-show = 'session()')
              span Devocionales
          li
            a(href='/showUsers')
              span Misioneros
          li.last
            a.cd-btn(href='#' ,ng-show = 'session()')
              span Perfil
          ul.navbar-right
            li
          
              a(href='/login',ng-hide = 'session()')
                span Iniciar Sesión
         
              a(href='/logout',ng-show = 'session()',ng-click='clearStorage()')
                span Cerrar Sesión

    .container-fluid
      
      main.cd-main-content
        .jumbotron(style = 'margin-top : 1%')
              .row
                .col-sm-6.col-md-6(ng-repeat='devotional in devotionals')
                  .thumbnail(id='devotional{{devotional._id}}')
                    img(src='img/genesis_MAX+PIX.png', alt='No avaliable Image',ng-hide='devotional.img')
                    img(src='img/devotionalPhotos/{{devotional._id}}.jpg', alt='...',ng-if='devotional.img').img-responsive
                    .caption
                      .row(style='margin-top:4%')
                        .col-md-8.col-md-offset-2
                          h2(style='font-size:130%') {{devotional.title}}
                        .col-md-offset-1.col-md-1.dropdown
                          button.close.dropdown-toggle(type='button',id="dLabel",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                            span(aria-hidden='true') &times;

                          ul.dropdown-menu(aria-labelledby='dLabel')
                            li(ng-if='userType')
                              a(href='#')
                                |Editar
                            li(ng-if='userType')
                              a(href='#deleteModal', data-toggle="modal",ng-click='showDevotionalDetails(devotional._id)')
                                |Eliminar
                            li
                              a(href='#')
                                |Denunciar

                      .row
                        .col-md-offset-1.col-md-10
                          h3(style='margin-top:2%') {{devotional.body.slice(0,140)}} ...
                      .row
                        .col-md-5.col-md-offset-7
                          h4(style='margin-top:5%')
                            span(am-time-ago='devotional.showDate') 
                      .row
                        p(style='margin-top:5%')
                          a(href='/devotionals/{{devotional._id}}') 
                            button.btn.btn-lg.btn-primary Ver Devocional

              .row(style='margin-top:10%',ng-if='userType')
                .col-md-4.col-md-offset-8
                  a(href='/addDevotional')
                    button.btn.btn-primary.btn-lg() Crear Devocional
                        

                





         //panel for real time chat
      .cd-panel.from-right
        header.cd-panel-header
          h1(align='center') Perfil del Misionero
          a.cd-panel-close(href='#0') Close
        .cd-panel-container
          .cd-panel-content

            .row
              .col-md-4.col-md-offset-1
                a.thumbnail(href='#')
                  img.img-responsive.img-rounded(src='/img/userPhotos/{{id}}.jpg', alt='img-responsive')

              .col-md-7
                .well.well-lg
                  h3
                    .row
                      .col-md-3
                        span.glyphicon.glyphicon-user(aria-hidden="true")
                      .col-md-offset-1
                        | {{name}}

                    .row.margin-top
                      .col-md-3
                         span.glyphicon.glyphicon-gift(aria-hidden="true")
                      .col-md-offset-1
                        | Cumpleaños: {{day}}/{{month}}

                     .row.margin-top
                      .col-md-3
                        span.glyphicon.glyphicon-pushpin(aria-hidden="true")
                      .col-md-offset-1
                        | Lugar de Servicio: 
                      .row.margin-top
                        .col-md-offset-3
                          {{servicePlace}}
                        
                     .row.margin-top
                        .col-md-10.col-md-offset-1
                          a(href='#')
                            | Editar Información

            .row
                              .col-md-11.col-md-offset-1
                                .well.well-lg
                                  .row
                                      .col-md-3
                                        span.glyphicon.glyphicon-tag(aria-hidden="true")
                                      .col-md-offset-1
                                        | Biografía:

                                     .row.margin-top
                                      .col-md-10.col-md-offset-1(style="white-space: pre-line;")
                                        {{biography}}

          
                              
                  

              
            
            .footer.col-md-10.col-md-offset-1
              
                
            
          // cd-panel-content
        // cd-panel-container
      // cd-panel

      //Delete Modal
    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header(id="gridSystemModalLabel")
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              .row
                .col-md-6.col-md-offset-4.text-warning
                  h1(style='font-size:150%') ¿Eliminar?
          .modal-body(id="gridSystemModalLabel")
            
            .row
              .col-md-10.col-md-offset-1
                h2(style='font-size:110%;margin-top:2%;',align='center') ¿Esta Seguro que deseas eliminar este Devocional?
        
          .modal-footer

              button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
              button.btn.btn-danger(type='button',ng-click='deleteDevotional(devotionalDetails._id,devotionalDetails.img,devotionalDetails.audio,devotionalDetails.video)') Aceptar

          //


      script(src='/socket.io/socket.io.js')
      script(type='text/javascript').
            moment.locale("es");
    